html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Raleway', 'Open Sans', serif;
  background-color: #1b2330;
  color: #fff;
}

.blue-btn {
  display: block;
  padding: 16px;
  background-image: linear-gradient(
    152.13deg,
    #63e1d9 -150.21%,
    #34a0cd 170.03%
  );
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 24px;
  text-decoration: none;
  color: #fff;
  max-width: 240px;
  width: 100%;
  transition: 0.2s ease;

  &:hover {
    background-image: linear-gradient(152deg, #34a0cd -150%, #63e1d9 170%);
  }
}
