.contact {
  position: relative;
  z-index: 1;
  background-color: #181f2b;

  &__content {
    margin-right: 20px;
    position: absolute;
    z-index: 1;
    margin-top: -177px;
    text-align: center;
    padding: 40px 28px;
    background-color: #1b2330;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
    border-radius: 9px;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 24px;
  }

  &__text {
    margin-left: auto;
    margin-right: auto;
    max-width: 673px;
    margin-bottom: 32px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 21px;
  }

  &__input {
    margin-bottom: 24px;
    max-width: 480px;
    width: 100%;
    padding: 17px 30px;
    border-radius: 24px;
    border: none;
    font-size: 12px;
    line-height: 14px;
    outline: none;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid #000;
    }
  }

  &__button {
    max-width: 280px;
    width: 100%;
    padding: 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
    background: linear-gradient(152.13deg, #63e1d9 -150.21%, #34a0cd 170.03%);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 24px;
    border: none;
    color: #fff;
  }
}

@media only screen and (min-width: 768px) {
  .contact {
    &__content {
      margin: 0 auto;
      max-width: 863px;
    }

    &__title {
      font-size: 32px;
      line-height: 48px;
    }

    &__text {
      font-size: 14px;
      line-height: 21px;
    }

    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__input {
      margin-bottom: 0;
    }

    &__button {
      margin-left: 30px;
      max-width: 200px;
    }
  }
}
