.services {
  padding-bottom: 160px;
  background-color: #181f2b;

  &__list {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.service {
  margin-bottom: 80px;
  text-align: center;
  max-width: 350px;

  &::before {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    display: block;
    width: 80px;
    height: 80px;
    background-image: url('../img/everywhere.svg');
    background-size: contain;
    content: '';
  }

  &__title {
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 24px;
  }

  &__text {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 21px;
  }
}

@media only screen and (min-width: 768px) {
  .services {
    &__list {
      justify-content: space-between;
    }
  }

  .service {
    &__title {
      font-size: 20px;
      line-height: 23px;
    }
  }
}
